*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body{
    background-color:whitesmoke ;

}

header{
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 5px #7b7979;
    background: #61EFB3;
}

#chk1{
    display: none;
}

.profile, .menu{
    color: #fff;
    cursor: pointer;
}

header .logo{
    flex: 1;
    font-size: 33px;
    color: #0F426E;
    margin-left: 50px;
    font-weight: bold;
}


header .search-box{
    flex: 1;
    position: relative;
}

.search-box input{
    margin: 0% -70%;
    width: 60%;
    height: 34px;
    border: none;
    outline: none;
    background: #cae0f4;
    border-radius: 30px;
    color: #7b7979;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
}


.search-box button{
    margin: 0% 111%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 1px;
    right: 0px;
    transform: scale(0.9);
    background: #4986bc;
}

header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    list-style: none;

}


header ul li a{

}

